extends layout

block content
  div.ticket
    header
      div.id
        span
          small Ticket List
      div.filters
        small Display
        div.all(class=activeFilter == '*' ? 'active' : '')
          small #[a(href="/admin") All]
        div.open(class=activeFilter == 'open' ? 'active' : '')
          small #[a(href="/admin?filter=open") Open]
        div.accepted(class=activeFilter == 'accepted' ? 'active' : '')
          small #[a(href="/admin?filter=accepted") Accepted]
        div.rejected(class=activeFilter == 'rejected' ? 'active' : '')
          small #[a(href="/admin?filter=rejected") Rejected]
        div.closed(class=activeFilter == 'closed' ? 'active' : '')
          small #[a(href="/admin?filter=closed") closed]
    div.list
      ul.body
        each ticket in tickets
          - date = moment(ticket.createdAt).fromNow()
          a(href="/admin/ticket/"+ticket.id)
            li.list-item
              p #{ticket.description}
              small(class="status "+ticket.status) #{ticket.status}
              small.date #{date}

  script(src="/javascripts/socket.io/socket.io.js")
  script(src="/javascripts/admin.js")
