extends layout

block content
  div.ticket
    header
      div.id
        strong Ticket #: #{ticket.id}
      div.status
        div.active(class=ticket.status)
          small(style="color:#fff")=ticket.status
    - date = moment(ticket.createdAt).fromNow()
    div.issue
      div.content
        p #{ticket.description}
      small #{ticket.author}, #{date}
    ul.updates
      each update in ticket.Updates
        - date = moment(update.createdAt).fromNow()
        li.update
          div(class=update.author === "admin" ? "admin" : "client")
            div.author
              em #{update.author}
              small #{date}
            div.content
              p #{update.data}
    div.reply
      form(action="/ticket/"+ticket.id+"/update", method="POST")
        input(type="hidden", name="ticketId" value="#{ticket.id}")
        input(type="text", name="update", placeholder="Enter your update", required="true").textbox
        input(type="submit", value="Save").btn.btn-lg.btn-success
